body {
  font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tasks { 
  margin: 0 auto;
  width: 100%;
  margin-bottom: 6em; /* padding to allow for button */
}
.task__done, .task__delete { width: 80px;}
.btn--edit {
  margin-right: 0.5em;
}
tr.complete td { 
  text-decoration: line-through;
  color: #ccc;
}
.button--add {
  position: fixed;
  bottom: 0.5em;
  left: 0.5em;
  z-index: 2;
}